.footer-nav {
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}

.social-links {
  display: flex;
}

.social-link {
  padding-left: 15px;
}

