.nav-main {
  background-color: #dfdfdf;
}

.nav-right {
  position: absolute;
  right: 10px;
  top: 55px;
}

.nav-fill {
  position: absolute;
  top: 20px;
  left: 110px;
  font-family: Lobster, Sans-Serif;
  font-size: 40px;
  min-width: 1100px;
  text-align: right;
}

.nav-subnav {
  height: 50px;
  background-color:darkgray;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.nav-subnav a {
  text-decoration: none;
  color: black;
}

a {
  font-size: 16px;
  color: black;
}

.glyphicon {
  color: black;
}

.nav-right a .modal-container button {
  text-decoration: none;
  color: black;
  margin-top: 0;
}

.cart-icon,
.wish-icon {
  display: inline-block;
}
/*

.btn {
  padding: 0px 10px;
  color: black;
  font-size: 16px;
}

.cart {
  padding-top: 0px;
}

.btn-group button {
  margin-top: 0;
}
*/
