#nav-main {
  width: 100%;
  height: 100px;
  position: relative;
  justify-content: space-between;
}

.nav-left {
  position: relative;
  float: left;
}

.nav-right {
  position: relative;
  float: right;
  width: auto;
  display: inline-block;
  vertical-align: bottom;
}

a .container .nav-right {
  width: 70px;
}

.nav-fill {
  width: auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

#nav-subnav {
  height: 50px;
  text-align: center;
  background-color:darkgray;
  padding-top: 10px;
}

#navbar {
  position: relative;
  background-color: #efeded;
  height: 150px;
  border-color: #e7e7e7;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

a {
  color:black;
  font-size: 16px;
}

.nav-content {
  padding: 5px;
  height: 48px;
  display: inline-block;
  width: 20%;
}

li {
  padding: 5px;
}
