.navbar {
  background-color: #efeded;
  height: 100px;
  padding: 20px;
  border-color: #e7e7e7;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

a {
  color:black;
  font-size: 16px;
}

p {
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
}

.signin {
  font-size: 18px;
  align-content: right;
  padding: 10px;
}

li {
  padding: 5px;
}
