/*
.carousel-inner {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: none !important;
  min-width: 100%;
  position: absolute;
  height: 300px;

}

.carousel-indicator {
  padding: 15px;
}

.item {
  height: 200px;
  width: 100%;
}
*/

.thumbnail>img {
  border-radius: 50%;
}
