/*
.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-body {
  float: none;
}

.btn {
  display: block;
  width: 185px;
}

button {
  padding: 0px;
  color: black;
}
*/

.modal-content {
  width: 350px;
  min-height: 40vh;
}

.modal-header {
  text-align: center;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.btn-group-vertical a {
  text-decoration: none;
  font-size: 25px;
}

button {
  padding: 10px 20px;
  margin: 10px 0;

}

