.modal-content {
  width: 350px;
  min-height: 40vh;
}

.modal-header {
  text-align: center;
}

#contained-modal-title {
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.btn-group-vertical a {
  text-decoration: none;
  font-size: 25px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


