.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-content {
  width: 350px;
  height: 350px;
}

.modal-body {
  float: none;
}

button {
  font-size: large;
}

.btn {
  display: block;
  width: 185p
}
